<script setup lang="ts">
import {
  mdiFaceWomanShimmerOutline,
  mdiChevronRight,
  mdiBookOpenBlankVariant,
  mdiCalendarTextOutline,
  mdiEmoticonDevilOutline,
  mdiAt,
} from "@mdi/js";
</script>
<template>
  <v-container>
    <v-row class="Bg">
      <v-col cols="7">
        <v-avatar size="200">
          <v-img
            src="https://scontent.futp1-2.fna.fbcdn.net/v/t39.30808-6/307759603_2077825159071316_2000500453675209802_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=qKCgMGCIVX4AX-zi0vb&_nc_ht=scontent.futp1-2.fna&oh=00_AfCUGdpcIwt6LKhPtwjoVvhcBsJX-gsOtgHamzs9o7Tt1A&oe=63A1D48B"
            height="300px"
          ></v-img>
        </v-avatar>
      </v-col>
      <v-col cols="4">
        <h1>Portfolio</h1>
      </v-col>
    </v-row>
    <v-row>
      <v-col class="Bg2" cols="2">
        <h2>..........................</h2>
        <div><v-icon :icon="mdiChevronRight" />Name: Praewwarin</div>
        <div><v-icon :icon="mdiChevronRight" />Surname: Chachai</div>
        <div><v-icon :icon="mdiChevronRight" />Nickname: Praew</div>
        <div><v-icon :icon="mdiChevronRight" />Age: 19 Years</div>
        <div>
          <v-icon :icon="mdiChevronRight" />Gender: Female
          <v-icon :icon="mdiFaceWomanShimmerOutline" />
        </div>
        <div><v-icon :icon="mdiAt" /> Email: 64160262@go.buu.ac.th</div>
      </v-col>
      <v-col cols="10" class="Bg3">
        <div style="text-align: center">
          Education <v-icon :icon="mdiBookOpenBlankVariant" />
        </div>
        <div>
          <v-table class="Ctable">
            <thead>
              <tr>
                <th style="text-align: left">Education</th>
                <th style="text-align: left">Year</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <v-avatar>
                    <v-img
                      src="https://www.jobbkk.com/upload/employer/04/384/00C384/images/50052.jpg"
                    />
                  </v-avatar>
                  Jindaporn School
                </td>
                <td>2005 - 2007</td>
              </tr>
              <tr>
                <td>
                  <v-avatar>
                    <v-img
                      src="https://scontent.fbkk23-1.fna.fbcdn.net/v/t39.30808-6/301644930_448568223960008_1845131812770849190_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=ite2a17OjUEAX96cHzN&_nc_ht=scontent.fbkk23-1.fna&oh=00_AfCPn59apeTYMTaoAe2e1WhXh76h_hS_Aml9RFejIMT6Zw&oe=63A3985B"
                    />
                  </v-avatar>
                  Supakorn Wittaya School
                </td>
                <td>2008 - 2014</td>
              </tr>
              <tr>
                <td>
                  <v-avatar>
                    <v-img
                      src="https://upload.wikimedia.org/wikipedia/th/thumb/5/59/%E0%B9%82%E0%B8%A3%E0%B8%87%E0%B9%80%E0%B8%A3%E0%B8%B5%E0%B8%A2%E0%B8%99%E0%B8%A3%E0%B8%B2%E0%B8%8A%E0%B8%A7%E0%B8%B4%E0%B8%99%E0%B8%B4%E0%B8%95%E0%B8%9A%E0%B8%B2%E0%B8%87%E0%B9%81%E0%B8%81%E0%B9%89%E0%B8%A7.gif/240px-%E0%B9%82%E0%B8%A3%E0%B8%87%E0%B9%80%E0%B8%A3%E0%B8%B5%E0%B8%A2%E0%B8%99%E0%B8%A3%E0%B8%B2%E0%B8%8A%E0%B8%A7%E0%B8%B4%E0%B8%99%E0%B8%B4%E0%B8%95%E0%B8%9A%E0%B8%B2%E0%B8%87%E0%B9%81%E0%B8%81%E0%B9%89%E0%B8%A7.gif"
                    />
                  </v-avatar>
                  Ratwinit Bangkaeo School
                </td>
                <td>2015 - 2020</td>
              </tr>
              <tr>
                <td>
                  <v-avatar>
                    <v-img
                      src="https://www.informatics.buu.ac.th/2020/wp-content/uploads/2018/04/logo-informatics.png"
                    />
                  </v-avatar>
                  Burapha University
                </td>
                <td>2021 - Now</td>
              </tr>
            </tbody>
          </v-table>

          <h2>Hobby <v-icon :icon="mdiCalendarTextOutline" /></h2>
          <div style="text-align: center">
            <v-icon :icon="mdiChevronRight" />Reading
            <v-icon :icon="mdiEmoticonDevilOutline" />
          </div>
          <div style="text-align: center">
            <v-icon :icon="mdiChevronRight" />Listen Music
            <v-icon :icon="mdiEmoticonDevilOutline" />
          </div>
          <v-carousel>
            <v-carousel-item
              src="https://www.oberlo.com/media/1612639204-image3.jpg?fit=max&fm=webp&w=1824"
              cover
            ></v-carousel-item>

            <v-carousel-item
              src="https://theworld.org/_next/image?url=https%3A%2F%2Fmedia.pri.org%2Fs3fs-public%2Fstory%2Fimages%2FMusic%20Listening.jpg&w=1280&q=75"
              cover
            ></v-carousel-item>
          </v-carousel>
        </div>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.Bg {
  background-color: rgb(195, 176, 145);
}
.Bg2 {
  background-color: rgb(116, 149, 81);
  height: 1000px;
}
.Bg3 {
  background-color: rgb(226, 114, 91);
}
.Ctable {
  background-color: azure;
}

h1 {
  color: cornsilk;
  font-weight: 500;
  font-size: 100px;
  text-align: center;
}
h2 {
  color: black;
  text-align: center;
}
h3 {
  color: black;
  text-align: center;
}
</style>
